.yf-index-view{
 position: relative;
}
.yf-index-bg{
  width: 100%;
  height: 100%;
}
.yf-index-test{
  background: rgba(255,255,255,0.5);
}
.yf-index-study{
  width: 30%;
  height: 8%;
  position: absolute;
  top:4%;
  left:35%;
}
.yf-index-bespeak{
  width: 30%;
  height: 10%;
  position: absolute;
  top:34%;
  left:35%;
}
.yf-index-xiaoe{
  width: 18%;
  height: 6%;
  position: absolute;
  top:37%;
  left:68%;
}
.yf-index-active{
  width: 30%;
  height: 8%;
  position: absolute;
  top:51%;
  left:35%;
}
.yf-index-about{
  width: 18%;
  height: 5%;
  position: absolute;
  top:61%;
  left:23%;
}
.yf-index-study-on{
  width: 18%;
  height: 5%;
  position: absolute;
  top:66%;
  left:42%;
}
