<div class="yf-index-view">
  <img src="assets/images/yingfu/index-bg.jpg" class="yf-index-bg">

  <div class="yf-index-study" ui-sref="yf-list({type:'yf-english'})"></div>
  <div class="yf-index-bespeak" ng-click="pageFunc.go('yf-reader',{id:'552859'})"></div>
  <a href="tel:4000281965">
    <div class="yf-index-xiaoe"></div>
  </a>

  <div class="yf-index-active"
       ng-click="pageFunc.goTo('http://efchengdu.gotocloud8.net/App/Cation/Wap/ActivityLlists.aspx')">
  </div>
  <div class="yf-index-about" ui-sref="yf-list({type:'yf-about'})"></div>
  <div class="yf-index-study-on" ui-sref="yf-list({type:'yf-study'})"></div>
</div>
<script>
  wx.ready(function () {
    wxapi.wxshare({
      title: "上海迪洲船用厨房设备有限公司",
      desc: "上海迪洲船用厨房设备有限公司总部设在上海以及浙江都设有工厂。多年来，曾为国内众多船厂的多种船型，海洋平台生活模块及海军舰船进行过配套。",
      link: "http://dizhou.gotocloud8.net/customize/ef/#/dz-index",
      imgUrl: "http://dizhou.gotocloud8.net/customize/ef/assets/images/dizhou/share.jpg"
    })
  })
</script>
