<div class="yf-index-view">
  <img src="../../assets/images/yingfu/index-bg.jpg" class="yf-index-bg">
  <div class="yf-index-study yf-index-test"></div>
  <div class="yf-index-bespeak yf-index-test"></div>
  <div class="yf-index-xiaoe yf-index-test" ng-click="pageFunc.go('yf-ef')">小E在线</div>
  <div class="yf-index-active yf-index-test"></div>
  <div class="yf-index-about yf-index-test" ng-click="pageFunc.go('yf-about')">关于英孚</div>
  <div class="yf-index-study-on yf-index-test" ng-click="pageFunc.go('yf-course')">学在英孚</div>
</div>
