.dz-detail-view {
  background-color: #f7f7f7;
  min-height: 100%;
  height: auto !important;
}

.dz-detail-content {
  padding: 1rem 0.5rem;
}

.dz-detail-content img {
  width: 100%;
}

.dz-detail-content table{
  width: 100%;
  font-size: 10px;
}

.dz-detail-content td{
  width: auto !important;
}
