.yf-study-view {
  background-color: #efeff4;
  min-height: 100% !important;
  height: auto !important;
  padding-top: 1rem;
}

.yf-study-container {
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  background-color: #fff;
}

.yf-study-pic {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.yf-study-text {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  padding-left: 1rem;
}

.yf-study-title {
  color: #406f87;
}

.yf-study-content {
  font-size: 1.3rem;
}
