.dz-enter-view {
  //background-color: #f7f7f7;
  min-height: 100%;
  height: auto !important;
}

.dz-enter-content {
  width: 100%;
}

.dz-enter-text img {
  width: 100%;
}

.dz-enter-text p:not(:first-child) {
  padding: 0 1rem;
}
