.dz-enter-view {
  //background-color: #f7f7f7;
  min-height: 100%;
  height: auto !important;
}

.dz-enter-content {
  width: 100%;
}

.dz-enter-content img {
  width: 100%;
}

.dz-enter-content span{
  display: block;
  padding: 0 1rem;
}

.dz-enter-content table{
  width: 98%;
  margin: 0 auto;
}

.dz-enter-content td{
  width: 50%;
}
