<div class="dz-index-view">
  <div class="wrapAd">
    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-auto-slide="3" class="wrapAd">
      <li ng-repeat="img in pageData.dz_img">
        <img ng-src="{{img}}" class="full-width">
      </li>
    </ul>
    <div rn-carousel-indicators ng-if="pageData.dz_img.length > 1" slides="pageData.dz_img"
         rn-carousel-index="carouselIndex"
         class="imgIndex"></div>
  </div>
  <div class="dz-index-content">
    <div class="dz-index-container" ng-click="pageFunc.go('dz-enter',{id:'552936'})">
      <p class="dz-index-text-mask"></p>

      <p class="dz-index-text-mask-2"></p>

      <p class="dz-index-text">走进迪洲</p>
      <img src="assets/images/dizhou/index-1.jpg" class="dz-index-img">
    </div>
    <div class="dz-index-container pull-right" ui-sref="dz-product({type:'dz-product'})">
      <p class="dz-index-text-mask"></p>

      <p class="dz-index-text-mask-2"></p>

      <p class="dz-index-text">产品中心</p>
      <img src="assets/images/dizhou/index-2.jpg" class="dz-index-img">
    </div>
  </div>
  <div class="dz-index-content">
    <div class="dz-index-container" ng-click="pageFunc.go('dz-enter',{id:'554525'})">
      <p class="dz-index-text-mask"></p>

      <p class="dz-index-text-mask-2"></p>

      <p class="dz-index-text">资格证书</p>
      <img src="assets/images/dizhou/index-3.jpg" class="dz-index-img">
    </div>
    <div class="dz-index-container pull-right" ng-click="pageFunc.go('dz-enter',{id:'554874'})">
      <p class="dz-index-text-mask"></p>

      <p class="dz-index-text-mask-2"></p>

      <p class="dz-index-text">公司业绩</p>
      <img src="assets/images/dizhou/index-4.jpg" class="dz-index-img">
    </div>
  </div>
  <div class="dz-index-content">
    <div class="dz-index-container" ng-click="pageFunc.go('dz-enter',{id:'554376'})">
      <p class="dz-index-text-mask"></p>

      <p class="dz-index-text-mask-2"></p>

      <p class="dz-index-text">联系迪洲</p>
      <img src="assets/images/dizhou/index-5.jpg" class="dz-index-img">
    </div>
  </div>
  <p class="text-center dz-index-text-2">上海迪洲船用厨房设备有限公司</p>

  <div class="dz-index-foot text-center">
    <span class="dz-index-menu" ng-click="pageFunc.go('dz-index')"><i
      class="iconfont icon-icon01 dz-index-ico dz-index-active"></i><br>首页</span>
    <a class="dz-index-link" href="http://map.sogou.com/u/PXJrW3">
      <span class="dz-index-menu"><i class="iconfont icon-daohang dz-index-ico"></i><br>一键导航</span>
    </a>
    <a href="tel:00862158185785" class="dz-index-link">
      <span class="dz-index-menu"><i class="iconfont icon-lianxi dz-index-ico"></i><br>联系我们</span>
    </a>
  </div>
</div>
<script>
  wx.ready(function () {
    wxapi.wxshare({
      title: "上海迪洲船用厨房设备有限公司",
      desc: "上海迪洲船用厨房设备有限公司总部设在上海以及浙江都设有工厂。多年来，曾为国内众多船厂的多种船型，海洋平台生活模块及海军舰船进行过配套。",
      link: "http://dizhou.gotocloud8.net/customize/ef/#/dz-index",
      imgUrl: "http://dizhou.gotocloud8.net/customize/ef/assets/images/dizhou/share.jpg"
    })
  })
</script>
