<div class="yf-about-view" data-ng-init="pageFunc.loadPage('0')">
  <div class="yf-about-head">
    <span class="yf-about-tabs" ng-class="{'yf-about-tabs-active':pageData.a==true}"
          ng-click="pageFunc.tabs('1');pageFunc.loadPage('0')">英孚介绍</span>
    <span class="yf-about-tabs" ng-class="{'yf-about-tabs-active':pageData.b==true}"
          ng-click="pageFunc.tabs('2');pageFunc.loadPage('382')">校区分布</span>
  </div>
  <div class="yf-about-container" ng-show="pageData.a" ng-repeat="a in pageData.info.list"
       ng-click="pageFunc.go('yf-reader',{id:pageData.info.list[$index].articleid})">
    <div class="yf-about-pic">
      <img ng-src="{{pageData.info.list[$index].imgurl}}" class="full-width">
    </div>
    <div class="yf-about-text">
      <p class="yf-about-title" ng-bind="pageData.info.list[$index].title"></p>

      <p class="yf-about-content" ng-bind="pageData.info.list[$index].digest"></p>
    </div>
  </div>
  <div class="yf-about-container" ng-show="pageData.b" ng-repeat="b in pageData.info.list"
       ng-click="pageFunc.go('yf-reader',{id:pageData.info.list[$index].articleid})">
    <div class="yf-about-pic">
      <img ng-src="{{pageData.info.list[$index].imgurl}}" class="full-width">
    </div>
    <div class="yf-about-text">
      <p class="yf-about-title" ng-bind="pageData.info.list[$index].title"></p>

      <p class="yf-about-content" ng-bind="pageData.info.list[$index].digest"></p>
    </div>
  </div>
</div>
