<div class="list-view3">
  <!-- 分类、搜素 -->
  <div class="nav-top">
    <span class="iconfont icon-fenlei" ng-if="arlist.params.bar" ng-click="pageInfo.maskShow=1;maskShow()"></span>
    <input class="search" placeholder="搜索..." ng-model="arlist.keyword">
    <span class="iconfont icon-sousuo1" ng-click="search()"></span>
  </div>
  <!-- 分类、搜素 end-->

  <!-- 分类导航 -->
  <div class="mask" ng-if="pageInfo.maskShow" >
    <div class="nav-left">
      <h3 class="title">分类</h3>
      <div class="list">
        <a 
        class="catlink" 
        ng-repeat="cat in arlist.navData" 
        ui-sref="{{cat.navigation_link}}" 
        ng-click="pageInfo.maskShow=0">{{cat.navigation_name}}</a>
      </div>
    </div>
  </div>
  <!-- 分类导航 end-->

  <!-- 文章列表 -->
  <div class="list-container" ng-repeat="List in arlist.listData">
    <div class="list-text">
      <p class="list-title" ng-bind="List.article_name"></p>

      <p class="list-content" ng-bind="List.article_summary"></p>

      <p class="list-time">发布于
        <span ng-bind="List.article_time | date:'yyyy年MM月dd日'"></span>
      </p>
    </div>
  </div>
  <!-- 文章列表 end -->
</div>
