<div class="yf-course-view" data-ng-init="pageFunc.loadPage('0')">
  <div class="yf-course-head">
    <span class="yf-course-tabs" ng-class="{'yf-course-tabs-active':pageData.a==true}"
          ng-click="pageFunc.tabs('1');pageFunc.loadPage('0')">课程介绍</span>
    <span class="yf-course-tabs" ng-class="{'yf-course-tabs-active':pageData.b==true}"
          ng-click="pageFunc.tabs('2');pageFunc.loadPage('382')">外教师资</span>
    <span class="yf-course-tabs" ng-class="{'yf-course-tabs-active':pageData.c==true}"
          ng-click="pageFunc.tabs('3');pageFunc.loadPage('0')">最新资讯</span>
  </div>
  <div class="yf-course-container" ng-show="pageData.a" ng-repeat="a in pageData.info.list"
       ng-click="pageFunc.go('yf-reader',{id:pageData.info.list[$index].articleid})">
    <div class="yf-course-text">
      <p class="yf-course-title" ng-bind="pageData.info.list[$index].title"></p>

      <p class="yf-course-content" ng-bind="pageData.info.list[$index].digest"></p>

      <p class="yf-course-time">发布于<span ng-bind="pageData.info.list[$index].time | date:'yyyy年MM月dd日'"></span></p>
    </div>
  </div>

  <div class="yf-course-container" ng-show="pageData.b" ng-repeat="b in pageData.info.list"
       ng-click="pageFunc.go('yf-reader',{id:pageData.info.list[$index].articleid})">
    <div class="yf-course-text">
      <p class="yf-course-title" ng-bind="pageData.info.list[$index].title"></p>

      <p class="yf-course-content" ng-bind="pageData.info.list[$index].digest"></p>

      <p class="yf-course-time">发布于<span ng-bind="pageData.info.list[$index].time | date:'yyyy年MM月dd日'"></span></p>
    </div>
  </div>
  <div class="yf-course-container" ng-show="pageData.c" ng-repeat="c in pageData.info.list"
       ng-click="pageFunc.go('yf-reader',{id:pageData.info.list[$index].articleid})">
    <div class="yf-course-text">
      <p class="yf-course-title" ng-bind="pageData.info.list[$index].title"></p>

      <p class="yf-course-content" ng-bind="pageData.info.list[$index].digest"></p>

      <p class="yf-course-time">发布于<span ng-bind="pageData.info.list[$index].time | date:'yyyy年MM月dd日'"></span></p>
    </div>
  </div>
</div>
