.yf-reader-view {
  min-height: 100% !important;
  height: auto !important;
  padding: 0 0.8rem;
}
.yf-reader-head{
  margin-top: 1rem;
}
.yf-reader-title {
  color: #406f87;
  font-weight: bold;
}
.yf-reader-info{
  color: #406f87;
  line-height: 2rem;
}
.yf-reader-ico{
  font-size: 2rem !important;
}
.yf-reader-time{
  float: right;
}
.yf-reader-text{
  font-size: 1.3rem;
}
.yf-reader-text img{
  max-width: 100%;
}
